* text=auto eol=lf

/.github                        export-ignore
/.gitattributes                 export-ignore
/.gitignore                     export-ignore
/.editorconfig                  export-ignore
/tests                          export-ignore
/tools                          export-ignore
/workbench                      export-ignore
/.template                      export-ignore
/README_PACKAGE.md              export-ignore
/release-please-config.json     export-ignore
/.release-please-manifest.json  export-ignore
/.ai                            export-ignore
