parameters:
    level: 8
    paths:
        - ../../src
        - ../../config
        - ../../database
        - ../../routes
        - ../../.template/Choices
        - ../../.template/Commands
        - ../../.template/Contracts
        - ../../.template/Metadata.php
    tmpDir: build/phpstan
